.med-card-container {
  background: #fffafa;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  margin-bottom: 30px;
}

.all-cards-container {
  display: flex;
  justify-content: space-between;
}

.middle-container {
  border-top: 5px solid#0e1e5e;
  flex-grow: 1;
  background-color: #aab6e6;
  border-radius: 10px;
}

@media print {
  .med-card-container {
    break-inside: avoid;
  }
}
